@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .c-container {
        @apply px-[5vw] lg:px-[10vw];
    }
}

@layer components {
    .section {
        @apply py-32 md:py-48;
    }
}

@layer utilities {
    .gs_reveal {
        @apply opacity-0;
    }
}

@font-face {
    font-family: 'Eina';
    src: url('/fonts/eina/Eina03-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina';
    src: url('/fonts/eina/Eina03-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina';
    src: url('/fonts/eina/Eina03-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}